inflect
numpy
pycocotools
mdit_py_plugins
linkify-it-py
MarkupSafe
contourpy
matplotlib
cycler
fonttools
kiwisolver
packaging
scikit-image
Pillow
pudb
albumentations
opencv-python
imageio
imageio-ffmpeg
omegaconf
test-tube
streamlit
einops
transformers
kornia
torchmetrics
yapf
safetensors
gradio
tqdm
scikit-learn
imagecodecs
dotenv
